.header {
  position: sticky;
  top: 0;
  height: 80px;
  padding: 0;
  z-index: 10;

  .headerContainer {
    display: flex;
    justify-content: flex-end;

    @media (max-width: 768px) {
      justify-content: center;
    }
  }
}
