@import '../common/styles/sass/variables';
@import '../common/styles/sass/mixins';

.contactsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .contactsContainer {
    @include container();
    flex-direction: column;
    justify-content: flex-start;

    .form {
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
      width: 100%;
      max-width: 800px;
      transition: 0.3s;
      opacity: 0;

      &.inView {
        opacity: 1;
      }

      & input, & textarea {
        padding: 15px;
        width: 100%;
        height: auto;
        @include text('Poppins', 12px, 1.5);
        background-color: $backgroundSecondColor;
        border: 1px solid #4a4a4a;
        outline: none;
        color: #495057;
      }

      & textarea {
        min-height: 160px;
        resize: vertical;
      }

      .button {
        display: block;
        @include button($underlineHeight: 4px);
        margin: 0 auto;
      }

      @media (max-width: 768px) {
        width: 100%;
      }
    }

  }
}