@import '../common/styles/sass/mixins';

.cvBlock {
  @include flex();

  .cvContainer {
    @include container();
    flex-direction: column;
    align-items: center;
  }

  .documentWrapper {
    border-radius: 10px;
    overflow: hidden;
    cursor: zoom-in;
  }

  .button {
    display: flex;
    flex-wrap: nowrap;
    @include button($underlineHeight: 4px);
    margin: 18px auto 0 auto;
    min-width: 0;
  }
}