.skillsBlock {
  min-height: 100vh;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}





