@import '../common/styles/sass/mixins';

.skillsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .skillsContainer {
    @include container();
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 100%;
    }
  }
}





