.skillsBlock {
  min-height: 100vh;

  .skillsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .skills {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      width: 100%;
      border: 1px solid;

      @media (max-width: 992px) {
        justify-content: center;
      }
    }
  }
}





