.mainBlock {
    height: 100vh;
    background-color: #ffc7d2;
}

.greeting {
    width: 500px;
    background-color: #fffbe0;
}

.title {
    font-size: 50px;
}

.photo {
    width: 300px;
    height: 400px;
    background-color: #fffbe0;
}