@import '../../common/styles/sass/variables';

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 350px;
  background-color: $backgroundSecondColor;

  .coverImage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background-position: center;
    background-size: cover;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.7);
    }

    .projectLink {
      padding: 10px;
      background-color: #252527;
      font-family: 'Poppins', sans-serif;
      color: $textColor;
      text-decoration: none;
      z-index: 1;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (max-width: 768px) {
      width: 200px;
      height: 200px;
    }
  }

  .projectInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 25px 20px;

    .projectTitle {
      font-size: 16px;
      letter-spacing: 1px;
    }

    .description {
      font-family: 'Poppins', sans-serif;
      font-size: 14px;
      line-height: 1.8;
      color: $textColor;
    }
  }
}


