@import './common/styles/sass/variables';

.App {
  > * {
    padding: 100px 0;
  }

  & > div:nth-child(odd) {
    background-color: $backgroundColor;
  }

  & > div:nth-child(even) {
    background-color: $backgroundSecondColor;
  }

  @media (max-width: 768px) {
    > * {
      padding: 80px 0;
    }
  }
}
