@import '../common/styles/sass/mixins';

.navList {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style-type: none;

  & li a {
    @include text($fontSize: 18px);
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    gap: 15px;
  }
}


