@import '../common/styles/sass/mixins';

.navList {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  list-style-type: none;

  & li a {
    position: relative;
    text-transform: uppercase;
    text-decoration: none;
    @include button($underlineHeight: 6px);
    @include text($fontSize: 18px);

    @media (max-width: 768px) {
      font-size: 14px;
    }
  }

  @media (max-width: 768px) {
    gap: 15px;
  }
}


