@import './variables';

@mixin text($fontFamily: 'Josefin Sans', $fontSize: 16px, $lineHeight: 1.2) {
  font-family: $fontFamily, sans-serif;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin flex($direction: row, $justifyContent: center, $alignItems: center, $wrap: wrap, $gap: 0) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
  gap: $gap;
}

@mixin container() {
  @include flex($justifyContent: space-between, $gap: 60px);
  margin: 0 auto;
  width: 80%;
  height: 100%;

  @media (max-width: 768px) {
    justify-content: center;
  }
}

@mixin bgSettings() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}