.projectsBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #1f1f20;
}

.projectsContainer {
    flex-direction: column;
    justify-content: flex-start;
}

.projects {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
}

@media (max-width: 895px) {
    .projects {
        justify-content: center;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .projects {
        justify-content: center;
    }
}