@import '../common/styles/sass/variables';

.projectsBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $backgroundColor;

  .projectsContainer {
    flex-direction: column;
    justify-content: flex-start;

    .projects {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      width: 100%;

      @media (max-width: 992px) {
        justify-content: center;
        gap: 15px;
      }
    }
  }
}